* {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
body {
    margin: 0;
}
header {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
}
nav {
    font-weight: 500;
    letter-spacing: 0.02em;   
    color: #212121;    
}
.logo {
    float: left;
    padding-right: 10px;
}
ul.menu {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    font-color: black;
}
ul.menu li {
    list-style-type: none;
    margin: 0;
    float: left;
    padding-right: 10px;
    margin-left: 10px;

}
ul.menu li a {
    color: black;
    text-decoration: none;


}
ul.menu li a:hover {
    color: #2196F3;
}
address {
    float: right;
    text-decoration: none;
    color: black;
}
address a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
address a:hover {
    color: #2196F3;
}

.black {
    background-color: #2F303A;
    display: block;
    padding-top: 100px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
}
.black h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.black a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 5px;
    border-color: #2196F3;
    padding: 10px;
    text-decoration: none;
}
main {
    padding-left: 10%;
    padding-right: 10%;
}

main ul li {
    list-style-type: none;
    padding-bottom: 5px;
    font-weight: bold;
    color: #212121;
    width: 25%;
    float: left;
}
main ul li h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}
main ul li p {
    font-weight: normal;
    line-height: 24px;
    margin-top: 0px;
    margin-right: 10px;
}
.gallery {
    padding-left: 10%;
    padding-right: 10%;
}
.grey {
    color: #757575;
}
main h3 {
    color: #212121;
}
h2 {
    text-align: center;
}
.ourWork{
    width: 33%;
}
main h2 {
    font-weight: 700;
    line-height: 42px;
}
section {
    display: block;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 450px;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
section.team {
    background-color: #F5F4FA;
}
section.team ul li {
    list-style-type: none;
    padding-bottom: 5px;
    font-weight: bold;
    color: #212121;
    width: 25%;
    float: left;
    background-color: #FFFFFF;
    margin-right: 10px;
    width: 23%;
}
section.team img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #2F303A;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
}
h2 {
    list-style-type: none;
    font-weight: bold;
    color: #212121;
    font-size: 36px;
}
section.team ul li h5 {
    text-align: center;
}
section.team ul li p.grey {
    text-align: center;
}
section ul {
    padding-left: 10%;
    padding-right: 5%;
}
footer * {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10%;

}
ul {
    padding-left: 0px;
    padding-right: 0px;
}

