* {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}
body {
    margin: 0;
}
header {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
}
nav {
    font-weight: 500;
    letter-spacing: 0.02em;   
    color: #212121; 
}
.logo {
    float: left;
    padding-right: 10px;
}
ul.menu {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    font-color: black;
}
ul.menu li {
    list-style-type: none;
    margin: 0;
    float: left;
    padding-right: 10px;
    margin-left: 10px;

}
ul.menu li a {
    color: black;
    text-decoration: none;
}
ul.menu li a:hover {
    color: #2196F3;
}
address {
    float: right;
    text-decoration: none;
    color: black;
}
address a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
address a:hover {
    color: #2196F3;
}
main {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
main a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    background: #F5F4FA;
    border-radius: 5px;
    border-color: #F5F4FA;
    padding: 10px;
    text-decoration: none;
}


.ourProduct{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.ourProduct main a:hover {
    background-color: #2196F3;
    color: blanchedalmond;
}
section.portfolio {
    margin-bottom: 40px;
}
section.portfolio .row .col-4.product {
    list-style-type: none;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 0%;
    float: left;
    border: 1px solid #EEEEEE;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(33, 150, 243, 0.9);
}
.technoKryak {
    position: relative;
}
.row .technoKryak:hover .overlay {
    opacity: 1;
}
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  footer {
    background-color: #2F303A;
}
footer .col-6 {
    margin: auto;
}
.container a {
    padding: 7px;
}
.col-6 form input {
    background: #2F303A;
    border: 1px solid #2196F3;
    padding: 7px;
}
ul {
    padding-left: 0px;
    padding-right: 0px;
}
footer h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer .col-3 ul {
    text-decoration: none;
}
footer .col-3 ul li {
    float: left;
}
.info img {
    margin-top: 50px;
    margin-bottom: 15px;
}
.info a {
    display: block;
}
footer .socialNetworks {
    list-style-type: none;

}
footer .socialNetworks li {
    float: left;
}
.sending input {
    width: 300px;
}
.button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 5px;
    border-color: #2196F3;
    padding: 10px;
    text-decoration: none;
}
.modal-body form input {
    width: 100%;
    border: 1px solid #212121;
    padding: 15px;
}
.modal-body form input {
    background-repeat: no-repeat;
    padding-left: 27px;
    border-radius: 5px;
    background-position-y: center;
    background-position-x: 10px;
}
.modal-body form .input-group:focus svg {
    fill: blue;
}
.modal-body form input[name="name"] {
    background-image: url('images/modalName.svg');
}
.modal-body form input[name="phone"] {
    background-image: url('images/modalPhone.svg');
}
.modal-body form input[name="mail"] {
    background-image: url('images/modalMail.svg');
}
.modal-body form input[name="mail"] > svg :hover {
    fill: aqua;
}
.modal-body form input[name="agreement"] {
    width: 3%;
    margin-top: 5px;
}
.modal-header span {
    border: 1px solid ;
    border-radius: 50%/50%;
}
label[for="agreement"] {
    color: #757575;
}
form[action="data"] p {
    margin: 0%;
    margin-top: 10px;
}
.alignCenter {
    text-align: center;
}
.width100 {
    width: 100%;
}